body, .calculator-body, .buttons, .numpad, .left-buttons, .right-buttons {
    display: flex;
}

body {
    justify-content: center;
}

.calculator-body {
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(70, 70, 70);
    max-width: 350px;
    padding: 16px;
    border-radius: 16px;
}

.screen {
    background-color: silver;
    padding: 16px;
    margin: 8px 10px 16px 10px;
    border-radius: 4px;
    height: 80px;
}

#prev-input, #current-input {
    font-family: "Roboto", "Arial", "sans-serif";
}

#prev-input {
    height: 30%;
    font-size: 16px;
}

#current-input {
    height: 70%;
    font-size: 32px;
}

.numpad {
    width: 170px;
    flex-wrap: wrap;
    padding: 10px;
    gap: 12px;   
}

.number, .decimal, #pm {
    width: 48px;
    height: 42px;
}

.left-buttons, .right-buttons {
    flex-direction: column;
    padding: 10px;
    gap: 12px;
}

.left-buttons, .right-buttons {  
    padding-left: 6px;
}

#clear, #delete {
    width: 48px;
    height: 36px;
}

.plus, .mult {
    width: 48px;
    height: 50px;
}

.minus, .divide, .pow {
    width: 48px;
    height: 31px;
}

.eval {
    width: 48px;
    height: 69px;
}
