body, .calculator-body, .buttons, .impt, .numpad {
    display: flex;
}

body {
    justify-content: center;
}

.calculator-body {
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(70, 70, 70);
    max-width: 350px;
    padding: 16px;
    border-radius: 16px;
}

.screen {
    background-color: silver;
    padding: 16px;
    margin: 8px 10px 16px 10px;
    border-radius: 4px;
    height: 80px;
}

#prev-input, #current-input {
    font-family: "Roboto", "Arial", "sans-serif";
}

#prev-input {
    height: 30%;
    font-size: 16px;
}

#current-input {
    height: 70%;
    font-size: 32px;
}

.buttons {
    flex-direction: column;
    
}

.numpad {
    width: 200px;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;   
}

.number, .decimal {
    width: 48px;
    height: 48px;
}