body, .calculator-body, .buttons, .impt {
    display: flex;
}

body {
    justify-content: center;
}

.calculator-body {
    flex-direction: column;
    align-items: stretch;
    background-color: blanchedalmond;
    max-width: 500px;
}

.screen {
    background-color: silver;
    padding: 10px;
    margin: 20px;

    height: 80px;
}

#prev-input {
    height: 25%;
}

#current-input {
    height: 75%;
}

.buttons {
    flex-direction: column;
}